html {
    font-size: 10px;
}

body {
    background-color: #fafafa;
    font-family: Roboto, sans-serif;
}

body > div[class*="container"] {
    padding-left: 2rem;
    padding-right: 2rem;
}

/*
    1st Column
    ----------
    Hero image
*/
.hero {
    padding-top: 2rem;
}

.hero .hero-image {
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 50%;
    max-width: 300px;
}


/*
    2nd Column
    ----------
    Login form
*/
.login {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.login .container-fluid {
    padding: 0;
    margin-left: 0;
}

.login .tagline {
    margin-top: 19px;
    font-weight: 300;
    font-size: 2.5rem;
    color: #3E3E3E;
}

.login .tagline > strong {
    color: #C8242F;
    font-weight: 900;
}

.login .login-header {
    margin-top: 32px;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 2rem;
    color: #3E3E3E;
}

.login input[type="text"],
.login input[type="password"] {
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}

.login input.password {
    margin-top: 27px;
    margin-bottom: 41px;
}

.login .register-text {
    margin-top: 23px;
}

.login .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 1rem;
}

.login .btn-login {
    background-color: #C8242F;
    color: white;
    border-width: 0px;
    border-radius: 23px;
    padding: 11px 47px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.login .register-text {
    text-align: center;
}

.login .register-text,
.login .forgot-pw {
    color: #ADADAD;
    font-size: 15px;
    line-height: 20px;
}

.login .forgot-pw {
    text-align: center;
}

.login .link {
    text-decoration: none;
}

.login .link.register {
    color: #C8242F;
}


/*
    Responsive Design
    -----------------
*/

/* Small devices (landscape phones) */
@media (min-width: 576px) {
    body > div[class*="container"] {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .hero .hero-image {
        max-width: 400px;
    }

    .hero > div {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .login .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .login .register-text {
        text-align: left;
    }
}


/* Medium devices (tablets) */
@media (min-width: 768px) {
    body > div[class*="container"] {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    main > .row {
        --bs-gutter-x: 35px;
    }

    .hero > div {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero {
        padding-top: 72px;
    }

    .hero .hero-image {
        max-width: 100%;
    }

    .login {
        padding-top: 106px;
    }
}

/* Large devices */
@media (min-width: 992px) {
    html {
        font-size: 12px;
    }

    main > .row {
        --bs-gutter-x: 60px;
    }

    .login .tagline {
        max-width: 500px;
    }

    .login form {
        width: 430px;
    }

}

/* X-large devices */
@media (min-width: 1200px) {
    main > .row {
        --bs-gutter-x: 100px;
    }
}

/* XX-large devices */
@media (min-width: 1400px) {
    html {
        font-size: 16px;
    }

    main > .row {
        --bs-gutter-x: 166px;
    }

    .login input[type="text"],
    .login input[type="password"] {
        width: 429px;
    }

    .login .container-fluid {
        max-width: 500px;
    }

    /* Desktop font sizes */
    .login .login-header {
        font-size: 25px;
        line-height: 33px;
    }

    .login .tagline {
        font-size: 40px;
        line-height: 47px;
    }
}